body {
    margin: 0;
    padding: 64px;
    background-color: #f7f5f2;
    color: white;
}

.hidden {
    display: none;
}

#dealer-row {
    position: absolute;
    top: 15%;

    height:100%;
    width: 100%;

    //border: solid blue;
    border-radius: 1px;
}

#text-row {
    position: absolute;

    top: 30%;

    height:100px;
    width: 100%;

    //border: solid red;
    border-radius: 1px;
}

#text-row-message  {
    position: absolute;
    left:15%;

    height:100%;
    width: 35%;
    //border: solid green;
    border-radius: 1px;

    font-family: Montserrat;
    color:black;
    text-align: center;
    font-size: 48pt;
    font-weight:normal;
}


#text-row-buttons  {
    position: absolute;
    left:50%;

    height:100%;
    width: 35%;
    //border: solid green;
    border-radius: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bet-button {
    height: 70px;
    width: 70px;
    margin: 5px;

    border: none; 

    font-family: Montserrat;
    color:black;
    text-align: center;
    font-size: 30;
    font-weight:normal;

    border-radius: 3%;
}

.bet-button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px  2px;
}

.bet-button.minus-five {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;

    background-color: darksalmon;
}

.bet-button.minus-one {
    background-color: darksalmon;
}

.bet-button.bet {
    width: 160px;
    background-color:gold   ;
}

.bet-button.plus-one {
    background-color:darkseagreen;
}

.bet-button.plus-five {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

    background-color:darkseagreen;
}

.text-row-button {
    height: 70px;
    width: 150px;
    margin: 5px;

    border: none; 

    font-family: Montserrat;
    color:black;
    text-align: center;
    font-size: 30;
    font-weight:normal;

}

.text-row-button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px  2px;
}

.text-row-button.stand {
    background-color:darksalmon;
}

.text-row-button.hit {
    background-color:darkseagreen;
}

.text-row-button.play-again {
    background-color:darkturquoise;
    width: 250px;
}

.text-row-button.leave-room {
    background-color:darkturquoise;
    width: 350px;
    text-decoration: none;
}

#deck {
    position: absolute;
    left: 25%;

    height:100%;
    width: 110px;
}

.deck-card {
height: 140px;
width: 100px;
background-color: honeydew;
border: solid #131920;
border-width: 3px;
border-radius: 10%;
}

.deck-card.num1{
    position: absolute;
}
.deck-card.num2{
    position: absolute;
    top: 5px;
    left: 5px;
}
.deck-card.num3{
    position: absolute;
    top: 10px;
    left: 10px;
}

.dealer-card, .player-card {
    height: 140px;
    width: 100px;
    
    position: absolute;
    top: 5px;
    left: 5px;

    background-color: transparent;
    perspective: 1000px;

    transition: transform 0.8s;
}


.dealer-card-inner, .player-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.dealer-card-front, .dealer-card-back, .player-card-front, .player-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.dealer-card-front, .player-card-front{
    background-color: honeydew;
    border: solid #131920;
    border-width: 3px;
    border-radius: 10%;
}

.dealer-card-back, .player-card-back {
    background-color:white;
    border: solid #131920;
    border-width: 3px;
    border-radius: 10%;
    transform: rotateY(180deg);
    
    font-family: Montserrat;
    color:black;
    text-align: center;
    font-size: 40;
    font-weight:bold;

    white-space: pre-line;
}